.sync-state-created {
  background-color: lightyellow;
}

.sync-state-success {
  background-color: lightgreen;
}

.sync-state-queued {
  background-color: olive;
}

.sync-state-syncing {
  background-color: lightblue;
}

.custom-dimmer {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 0;
}