<div class="custom-dimmer">
  <div class="ui container" style="color: black;">
    <div class="ui segment" style="color: black;">
      <div class="ui top attached label">Create New Connection</div>
      <p>Test</p>
    </div>
  </div>
</div>
{{outlet}}
